__pycache__/
.venv/
.vscode/
output/
config.py
hot_reload.py
installer.txt
note.txt
brainstorm.txt
all_jobs_details.py
all_jobs_details.json
all_jobs_list.py
all_jobs_list.csv
job_data_processor.py
processed_data/
